name: app
description: "App"
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.8.1

resolution: workspace

dependencies:
  flutter:
    sdk: flutter

  core:
  localization:
  design_system:
  post:

dev_dependencies:
  flutter_test:
    sdk: flutter
